radio4000-player {
	max-width: 30rem;
}

/* superseed defaults */
radio4000-cms radio4000-player {
	height: 100%;
	width: 100%;
	min-width: 0;
	flex-grow: 1;
}


/* container, for sizes */
radio4000-player-container[size="deck"] {
	width: auto;
	height: 100%;
	padding: 0.3rem;
}

radio4000-player-container[size="small"] {
	position: fixed;
	bottom: 0;
	right: var(--unit-size);
	max-width: 200px;
}
radio4000-player-container[size="small"] .Layout-main {
	display: none;
}

radio4000-player-container {
	position: relative;
	max-width: 35vw;
	width: 100%;
	min-width: 200px;
}

radio4000-player-container button-group {
	position: absolute;
	top: 0;
	right: calc(100% + var(--unit-size--small));
	z-index: 1;
	flex-direction: column;
}

radio4000-player-container button + button {
	margin-top: var(--unit-size--tiny);
}
