:root {
	--color-link: blue;

	--unit-size: 1rem;
	--unit-size--small: calc(var(--unit-size) / 2);
	--unit-size--tiny: calc(var(--unit-size) / 4);
	--padding: var(--unit-size);
	--margin: var(--unit-size);
	--padding-nav-item: var(--unit-size--small);
}
